
@{
    ViewBag.Title = "Delete";
}

<br />

<form class="form-horizontal" method="post" role="form">
    <div class="form-group">
        <div class="col-sm-2">
            <input class="btn btn-danger" type="submit" value="Delete" />
        </div>
        <label>@ViewBag.Result</label>
    </div>
</form>

<hr />

<pre>
@ViewBag.Json
</pre>

