
@{
    ViewBag.Title = "Login";
}

<br />

@if (ViewBag.ErrorMessage != null)
{
    <li class="text-danger">@ViewBag.ErrorMessage</li>
    <br />
}

<form class="form-inline" method="post" role="form">
    @Html.AntiForgeryToken()
    <label for="Password" class="control-label">Password:</label>
    <input id="Password" name="Password" class="form-control" type="password" />
    <button class="btn btn-primary" type="submit">Login</button>
</form>